* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

body {
  background-image: url("Image/main3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

/* 
    html {
  background: url("Image/main3.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-round {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 400;
  color: #189cc4;
  background-color: #fff;
  border-radius: 50%;
  margin-top: 20px;
}
.header-round:after {
  content: "H";
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  padding-top: 60px;
}
section #name-p {
  font-size: 55px;
  margin-bottom: 10px;
}
section #name-input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
  outline: none;
  color: #fff;
  font-size: 55px;
  text-align: center;
  margin-bottom: 50px;
}
section .continue {
  visibility: hidden;
  width: 94px;
  height: 40px;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 25px;
  font-size: 15px;
  outline: none;

  animation-name: continue;
  animation-delay: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}
@-webkit-keyframes continue {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

section button:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* 가상 */
.email-p,
.email-input,
#email-log {
  animation-name: reviseP;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes reviseP {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.stay {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -180px;
  opacity: 0;
}
.stay p {
  font-size: 18px;
}

.stay button {
  width: 120px;
  height: 40px;
  outline: none;
  background: none;
  border-radius: 25px;
  color: #fff;
  border: 2px solid #fff;
  margin-left: 20px;
}

.dynamic-1 {
  position: absolute;
  bottom: -80px;
}

.